<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="zkclient" class="io.summerx.framework.zookeeper.curator.CuratorZooKeeperClient">
        <property name="connectString" value="172.21.129.63:2181,172.21.129.63:2182"/>
    </bean>
</beans>