<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- c3p0数据源 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <!-- JDBC驱动 -->
        <property name="driverClass" value="${c3p0.driverClass}"/>
        <!-- 数据库连接串 -->
        <property name="jdbcUrl" value="${c3p0.jdbcUrl}"/>
        <!-- 数据库用户 -->
        <property name="user" value="${c3p0.user}"/>
        <!-- 数据库密码 -->
        <property name="password" value="${c3p0.password}"/>
        <!-- 连接池中保留的最小连接数 -->
        <property name="minPoolSize" value="${c3p0.minPoolSize}"/>
        <!-- 连接池中保留的最大连接数 -->
        <property name="maxPoolSize" value="${c3p0.maxPoolSize}"/>
        <!-- 连接池初始化连接数 -->
        <property name="initialPoolSize" value="${c3p0.initialPoolSize}"/>
        <!-- 最大空闲时间，空闲内未使用则连接被丢弃。若为0则永不丢弃。单位：秒 -->
        <property name="maxIdleTime" value="${c3p0.maxIdleTime}"/>
        <!-- 当连接池中的连接耗尽的时候一次获取的连接数。-->
        <property name="acquireIncrement" value="${c3p0.acquireIncrement}"/>
        <!-- 控制数据源内加载的PreparedStatements数量。如果maxStatements与maxStatementsPerConnection均为0，则缓存被关闭。Default: 0 -->
        <property name="maxStatements" value="${c3p0.maxStatements}"/>
        <!-- 定义了连接池内单个连接所拥有的最大缓存statements数。Default: 0 -->
        <property name="maxStatementsPerConnection" value="${c3p0.maxStatementsPerConnection}"/>
    </bean>
    <!-- JDBC操作 -->
    <bean id="jdbcExecutor" class="io.summerx.framework.database.jdbc.DefaultJdbcExecutor">
        <constructor-arg ref="dataSource"/>
    </bean>
    <!-- 配置声明式事务管理 -->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="do*" read-only="false" rollback-for="Exception"/>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="query*" read-only="true"/>
            <tx:method name="find*" read-only="true"/>
            <tx:method name="search*" read-only="true"/>
            <tx:method name="*" read-only="true"/>
        </tx:attributes>
    </tx:advice>
    <aop:config proxy-target-class="true">
        <aop:advisor pointcut="execution(* io.summerx.sso.*.service..*Service.*(..))" advice-ref="txAdvice"/>
    </aop:config>

</beans>