<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="spring-cache.xml"/>
    <import resource="spring-zookeeper.xml"/>

    <context:component-scan base-package="io.summerx.sso"/>

    <bean id="AuthorizationManager" class="io.summerx.sso.auth.DefaultAuthorizationManager">
        <property name="ssoCache" ref="ssoCache"/>
        <property name="userService" ref="defaultUserObjectService"/>
        <property name="executorService" ref="scheduledExecutorService"/>
    </bean>

    <bean id="scheduledExecutorService" class="org.springframework.scheduling.concurrent.ScheduledExecutorFactoryBean">
        <property name="poolSize" value="10" />
    </bean>
    <bean id="defaultUserObjectService" class="io.summerx.sso.auth.service.DefaultUserObjectService"/>
</beans>